/* mobile first  */

@media (max-width: 1075px) {

    .editor {
        flex-direction: column;
        align-items: center;
    }

    .canvas {
        width: 40;
        height: 70;
    }
}

@media (max-width: 1300px) {
    .actions-container {
    width: min(50vw, 400px); 
    }
}