/* mobile first  */

@media (max-width: 1075px) {
    .logo {
        font-weight: bolder;
        font-size: 0.91rem;
    }
    li {
        font-size: 0.8rem;
    }

    .editor {
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .canvas {
        width: 40;
        height: 70;
    }

    img {
        max-width: 5em;
    }


    .main-header .inner-container {

        padding: 25px;
        height: 100%;
    }

     .gallery-layout h2 {
    text-align: center;
    font-size: 1rem;
}


}

@media (min-width: 1300px) {
    .actions-container {
        width: min(60vw, 400px);
    }
    .gallery-layout h2 {
    text-align: center;
    font-size: 2.5rem;
}
}
@media (min-width: 1100px) {
    .actions-container {
        width: min(60vw, 400px);
    }
    .gallery-layout h2 {
    text-align: center;
    font-size: 2rem;
}
}