.actions-container {
    width: min(50vw, 400px);
    gap: 10px;
    justify-content: space-between;
    border: 10px solid black;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    align-self: center;
}

.actions-container>*:not(:first-child) {
    margin-bottom: 10px;
}

.actions-container :first-child {
    margin-top: 10px;
}

.btn-creative {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 80%;
    padding: 7px;
    background-color: var(--primary-color--1);
    border-radius: 15px;
}

.btn-download {
    gap: 10px;
    align-items: center;
}

.btn-download button {
    color: var(--txt-color--1);
    max-width: none;
    background-color: #1877F2;
    padding: 5px;

}

.btn-download a {
    margin: none;
}



.actions-container .btn-txt:has(img:hover)>img:not(:hover) {
    scale: 0.85;
    opacity: .6;
}

.actions-container .btn-creative:has(img:hover)>img:not(:hover) {
    scale: 0.85;
    opacity: .6;
}