.actions-container {
    width: min(50vw, 400px);
    gap: 10px;
    justify-content: space-between;
    border: 10px solid black;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    align-self: center;
}

.actions-container>*:not(:first-child) {
    margin-bottom: 10px;
}

.actions-container :first-child {
    margin-top: 10px;
}

.btn-creative {   
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 80%;
    padding: 7px;
    background-color: var(--hover-color--1);
    border-radius: 15px;
}

