.gallery-container {
    max-width: 50vw;
    align-items: center;
    justify-content: center;
}


.gallery-container img:hover {
    cursor: pointer;
    box-shadow:
        inset 20px 10px 20px, 0 0 15px var(--hover-color--1);
    transform: scale(1.1);
}