.main-header {
    background: var(--primary-color--1);
    box-shadow: inset 0px -6px 0 var(--txt-color--1);
    height: 7vh;
    
}

.main-header .inner-container {
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
}

