*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    color: var(--txt-color--1);

}

img {
    border-radius: 10px;
    border: 2px solid rgb(25, 25, 86);
    max-width: 15em;
    width: 100%;
    transition: 0.3s;
}


h1 {
    margin: 0 0 1em;
    text-transform: uppercase;
}

li {
    margin-right: 13px;
}

button {
    max-width: 20px;
    padding: 10px 20px;
    border: 2px solid var(--txt-color--1);
    border-radius: 8px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s color;
}


button:hover {
    background-color: #333;
    color: #fff;

}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 0.3s;
    padding: 2px;
    border: 2px solid var(--txt-color--1);
}

.icon:hover {
    transform: scale(1.2);
}

input {
    max-width: 50%;
    border: 1px solid var(--txt-color--1);
    border-radius: 5px;
    color: var(--txt-color--1);
}

a {
    background-color: var(--primary-color--1);
    color: var(--txt-color--1);
    border-radius: 5px;
    border: 1px solid var(--txt-color--1);
    padding: 4px;
    text-decoration: none;
}